header {
  height: 8vh;
  background: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 1;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo_container > img {
  width: 2.5rem;
}

header > label {
  display: flex;
  gap: 1rem;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid blue;
}

header > label > input {
  border: none;
}

header > label > input:active {
  outline: none;
}

main {
  /* height: 100vh; */
}

footer {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

footer > nav {
  display: flex;
  gap: 1rem;
}
